body{
  font-family: 'Times New Roman', Times, serif;
  font-size:100%;
  background-color: #eff2f3;
  display: flex;
  flex-direction: column;
}

header {
  text-align: center;
  justify-content: center;
  }
  #heading{
    font-family: 'Lucida Sans', 'Lucida Sans Regular';
    font-size: 150%;
    background-color: #2A5779;
  }

#headshot{
  width: 15%;
  height: 15%;
  border-radius: 50%;
  border: 4px solid #87BAD0;
  margin-top: 20px;
}

.main{
  display: flex;
  flex-direction: row;
  overflow: unset;
}

.container{
  display: flex;
}

h1 {
  text-align: center;
  color: #C2D0D6;
  font-family: Helvetica, sans-serif Courier, monospace;
  font-size: 150%;
}
 
h2 {
  text-align: left;
  color: #2A5779;
  font-family: Helvetica, sans-serif Courier, monospace;
  font-size: 180%;
  margin: 10px;
  padding: 20px;
}
 
h3 {
  text-align: left;
  color: black;
  font-family: Helvetica, sans-serif Courier, monospace;
  font-size: 110%;
  padding-left: 20px;
}

h4{
  text-align: center;
  color: #C2D0D6;
  font-family: Arial, Helvetica, sans-serif; 
}

p{
  color: black;
  font-family: Helvetica, sans-serif Courier, monospace;
  font-size: 90%;
  margin-left: 10px;
  padding-left: 20px;
}


#sidebar {
  width:10%;
  background-color: #87BAD0;
  padding:1rem;
  color:beige;
 }
.nav-menu {
  list-style-type: none;
  padding: 0%;
}


#container{
  display: flex;
  width: fit-content;
  }

.box1{
  width: 33.33%;
  border: 1px solid #2A5779;
  padding: 10px;
  background-color: #F7F6EB;
}
.box2{
  width: 33.33%;
  border: 1px solid #2A5779;
  padding: 10px;
  background-color: #F7F6EB;
  }

  .box3{
    width: 33.33%;
    border: 1px solid #2A5779;
    padding: 10px;
    background-color: #F7F6EB;
    }

footer {
  background-color: #2A5779;
  text-align: center;
  justify-content: center;
}

.icons{
  width: 3rem;
  margin: 0.7rem;
  height: auto;
}






